@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
   margin-left: 700px;
   margin-top: 300px;
   align-items: center;
   font-size: 1.5rem;
}

.btn {
    padding: 1rem 3rem;
    font-size: 1.3rem;
    margin-left: 70px;
    margin-top: 10px;
    background-color: grey;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 0.5rem;
}

.btn:hover {
    background-color: 2px solid rgb(71, 70, 70);
}