* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 1em;
  background-color: #0075ff;
}

.wrapper {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.wrapper img {
  max-width: 100%;
}

#container,
#preview-container {
  background-color: #fff;
  border-radius: 0.8em;
  padding: 1em;
}

#container {
  font-size: 0.8em;
  color: #606060;
  text-align: justify;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

button,
a {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 0.5em;
  color: #000;
}

.hide {
  display: none;
}
