* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(
        #e92e3d,
        #ff6e6a
    ) 0 100% no-repeat;
    background-size: 100% 50%;
}

.container {
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.dice-wrapper img {
    height: 80px;
    width: 80px;
}

.dice-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

p {
    font-size: 16px;
    margin: 15px 0;
    font-weight: bold;
}

button {
    background-color: #e92e3d;
    border: none;
    color: #fff;
    padding: 15px 0;
    width: 150px;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.shake {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(8deg);
    }
}